{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Page</title>
</head>
<body>
    <div id="root"></div>
    <p> Проверка react страницы</p>
    <script src="{% static 'react/static/js/main.chunk.js' %}"></script>
    <script src="{% static 'react/static/js/bundle.js' %}"></script>
    <script src="{% static 'react/static/js/vendors~main.chunk.js' %}"></script>
</body>
</html>
